ul.side-nav {
    padding-left: 0;
    li {
        padding: 20px;
        border-bottom: 1px solid #f5f5f5;
      }
}
.example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  
  